{
  "sites": [
    "https://google.com",
    "https://github.com",
    "https://gosuslugi.ru",
    "https://expired.badssl.com",
    "http://this-site-is-fake-123.com"
  ],
  "timeout_seconds": 10,
  "telegram_token": "YOUR_TELEGRAM_BOT_TOKEN",
  "telegram_chat_id": 0
}